<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pipesom</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
</head>
<body>
  <main>
    <p>Welcome to Pipesom, upload your data file and then submit it to get an analysis:</p>
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>

    <!-- TODO: specify the action on the flask server -->
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>


  </main>
</body>
<!-- <footer>Powered by <a href="https://github.com/JustGlowing/minisom">Minisom</a></footer> -->

</html>
